@charset "utf-8";

html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* 共通エリア */
.post_container {
    width: 100%;
    height: 100vh;
    border-top: 5px solid lightgray;
}

.icon_image {
    width: 50px;
    height: auto;
}

#head {
    padding: 15px 20px;
}

.list_btn {
    text-align: end;
}

.search_btn {
    text-align: center;
    margin-top: 30px;
}

.btn.btn-primary {
    width: 150px;
    font-size: 0.9rem;
    border-radius: 0.45rem;
}

.btn.btn-danger {
    width: 150px;
    font-size: 0.9rem;
    border-radius: 0.45rem;
}

/* header */
header {
    background: #186AC9;
}

.accordion {
    display: flex;
    position: relative;
    align-items: center;
    color: whitesmoke;
    gap: 30px;
    text-align: center;
}

.accordion-title,
.accordion img {
    cursor: pointer;
}

.accordion-content {
    display: none;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    top: 136%;
    left: 7%;
}

.accordion-content li a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    background-color: whitesmoke;
    color: grey;
    border: 2px solid #2c3e50;
    font-size: 1.5rem;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.accordion-content li a:first-child {
    border-top: none;
}

.accordion-content li a:hover {
    background-color: darkblue;
    color: #fff;
}

.nav_ber {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Atlas_image {
    width: 100px;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 20%;
    border-left: 1px solid #727272;
}

#confirm {
    padding: 5%;
    border-bottom: 1px solid #727272;
}

/* indexエリア */

.post-block {
    padding: 15px 15px 15px 100px;
    gap: 10px;
}

.image_block {
    margin-right: 10px;
}

.post-block {
    list-style: none;
    border-bottom: 1px solid #000;
    display: flex;
}

.post-content {
    width: 100%;
    /* padding: 15px; */
}

.post-content>div {
    display: flex;
    justify-content: space-between;
}

.post-name {
    margin-bottom: 10px;
}

.form_area {
    margin: 30px 70px 20px;
}

.post_box {
    width: 100%;
    display: flex;
}

#form-post {
    width: 80%;
    height: 50px;
    border: none;
    box-sizing: border-box;
}

.btn_area {
    display: flex;
    margin: auto 0 0;
}

/* .post-border {
    border-bottom: 5px solid lightgray;
} */

.btn-post {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 0 0 80%;
    border: none;
    border-radius: 20%;
    background-image: url('../images/post.png');
    background-size: cover;
}

.btn-update {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 20%;
    background-image: url('../images/edit.png');
    background-size: cover;
    background-color: transparent;
}

/* モーダルウィンドウ */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal_content {
    position: relative;
    width: 60%;
    height: 50%;
    margin: 10% auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

#post-text {
    width: 100%;
    height: 160px;
}

.btn.btn-light {
    margin-right: 10%;
}

.up_btn {
    margin: 0 auto;
    padding: 5%;
    text-align: center;
}

/*  */
.btn-delete {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-image: url('../images/trash.png');
    background-size: cover;
}

.btn-delete:hover {
    background-image: url('../images/trash-h.png');
    background-size: cover;
}

/* search エリア */

.search_area {
    margin: 4% 6%;
}

.search_icon {
    width: 55%;
    height: 55%;
    border-radius: 10%;
}

.search_form {
    width: 300px;
    height: 45px;
    vertical-align: middle;
}

.btn.btn-search {
    padding: 0;
}

.search_container {
    padding: 5% 30%;
}

.user_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search_user {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
}

/* follow エリア */
.follow_list_container {
    display: flex;
    height: 150px;
    padding: 2% 6% 3% 6%;
}

.icon_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 50px;
}

.icon_image {
    width: 50px;
    height: 50px;
}

.count_area.div {
    display: flex;
    width: 100%;
}

/* プロフィールエリア */

.profile_container {
    font-size: 1.1rem;
}

.profile_area {
    width: 100%;
    height: 100%;
    padding: 5% 5% 5% 20%;
    display: flex;
}

/* .user_area {
    padding: 1% 15%;
} */

.user_profile {
    margin: 1% 0 0 5%;
}

.user_area label {
    margin-right: 100px;
}

.pf_btn_area {
    text-align: center;
}

#bio_text {
    width: 400px;
    height: 40px;
    background-color: #ececec;
    border: 1px solid gray;
}

.user_area input {
    width: 400px;
    height: 40px;
    background-color: #ececec;
    border: 1px solid gray;
}

.icon_box {
    position: relative;
    width: 400px;
    height: 100px;
    background-color: #ececec;
    border: 1px solid gray;
}

.custom-file-upload {
    position: absolute;
    top: 30%;
    left: 30%;
    border: none;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: white;
    text-align: center;
    margin: 0 auto;
}

.hidden {
    display: none;
}

/* user_pf */

.user_profile_area {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 4% 3% 0 8%;
    font-size: 1.2rem;
    font-weight: 500;
}

.user_pf_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.label {
    width: 50px;
    margin-right: 150px;
}

.content {
    flex-grow: 1;
    width: 100%;
}

.pf_follow_btn {
    margin-top: 70px;
}
